header{
    width: 800px;
    margin-left: calc(50% - 400px);
    
 
}
main{
    width: 800px;
    margin-left: calc(50% - 400px);
    display: flex;
    align-items: flex;
    margin-top: 70px;
    gap: 10px;
    font-size: 15px;
 
    
}
footer{
    width: 800px;
    margin-left: calc(50% - 400px);
   
}

