header{
    width: 800px;
    margin-left: calc(50% - 400px);
    
 
}
main{
    width: 800px;
    margin-left: calc(50% - 400px);
    display: flex;
    align-items: flex-end;
    margin-top: 70px;
 
    
}
footer{
    width: 800px;
    margin-left: calc(50% - 400px);
   
}

